@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*color Primary*/
    --cl-Light-red: 0, 100%, 67%;
    --cl-Orangey-yellow: 39, 100%, 56%;
    --cl-Green-teal: 166, 100%, 37%;
    --cl-Cobalt-blue: 234, 85%, 45%;

    /*color Gradients*/
    --gcl-Light-slate-blue-background: hsl(252, 100%, 67%);
    --gcl-Light-royal-blue-background: hsl(241, 81%, 54%);
    
    --gcl-Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --gcl-Persian-blue-circle: hsla(241, 72%, 46%, 0);

    /*color Neutral*/
    --ncl-White: hsl(0, 0%, 100%);
    --ncl-Pale-blue: hsl(221, 100%, 96%);
    --ncl-Light-lavender: hsl(241, 100%, 89%);
    --ncl-Dark-gray-blue: hsl(224, 30%, 27%);

    --ff-basic: "Hanken Grotesk", sans-serif;
    
    --fw-Normal: 500;
    --fw-Bold: 700;
    --fw-Very-bold: 800;

    font-size: 18px;
}

/*********** main section ***********/
body {
    height: 100svh;
    display: grid;
    place-content: center;
    background-color: var(--ncl-White);
    font-family: var(--ff-basic);
}

.container {
    display: flex;
    margin: 0 2rem;
    border-radius: 1.6rem;
    box-shadow: 10px 40px 50px 0 var(--ncl-Pale-blue);
}

.summary-details, .result-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    max-width: 368px;
}

h2 {
    font-size: 1.3rem;
    font-weight: var(--fw-Bold);
}

/**** score card section ****/
.result-details {
    border-radius: 1.6rem;
    padding: 2.2rem 3rem 3rem 3rem;
    color: var(--ncl-Light-lavender);
    background: var(--gcl-Light-royal-blue-background);
    background: 
        linear-gradient(
            0deg, 
            var(--gcl-Light-royal-blue-background) 10%, 
            var(--gcl-Light-slate-blue-background) 120%
        );
}

.score {
    display: grid;
    place-items: center;
    padding: 2rem 3rem;
    margin: 1.35rem;
    border-radius: 50%;
    background: var(--gcl-Violet-blue-circle);
    background: 
        linear-gradient(
            0deg, 
            var(--gcl-Persian-blue-circle) 0%,
            var(--gcl-Violet-blue-circle) 100%
        );
}

.points-scored {
    display: block;
    color: var(--ncl-White);
    font-size: 4rem;
    font-weight: var(--fw-Very-bold);
}

.comment {
    color: var(--ncl-White);
    font-weight: var(--fw-Bold);
    font-size: 1.75rem;
}

p {
    text-align: center;
    font-size: 1rem;
}

/**** details card section ****/
.summary-details {
    color: var(--ncl-Dark-gray-blue);
    padding: 2.25rem;
}

#Summary {
    align-self: self-start;
}

.data-list {
    display: grid;
    gap: 1rem;
    margin: 1.6rem 0;
    width: 100%;
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em;
    border-radius: .5rem;
    gap: 4.5em;
}

.skill-name {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.skill:nth-child(1) {
    color: hsl(var(--cl-Light-red));
    background-color: hsla(var(--cl-Light-red), .05);
}

.skill:nth-child(2) {
    color: hsl(var(--cl-Orangey-yellow));
    background-color: hsla(var(--cl-Orangey-yellow), .05);
}

.skill:nth-child(3) {
    color: hsl(var(--cl-Green-teal));
    background-color: hsla(var(--cl-Green-teal), .05);
}

.skill:nth-child(4) {
    color: hsl(var(--cl-Cobalt-blue));
    background-color: hsla(var(--cl-Cobalt-blue), .05);
}

.skill-score {
    color: var(--ncl-Dark-gray-blue);
    font-weight: var(--fw-Bold);
    display: flex;
    gap: 10px;
}

.opacity {
    opacity: .4;
}

button {
    display: block;
    width: 100%;
    border: inherit;
    background-color: var(--ncl-Dark-gray-blue);
    color: var(--ncl-White);
    font-weight: var(--fw-Normal);
    border-radius: 3rem;
    font-size: 1rem;
    height: 56px;
    cursor: pointer;
}

button:hover {
    opacity: .9;
}

button:active {
    background: var(--gcl-Light-royal-blue-background);
    background: 
        linear-gradient(
            0deg, 
            var(--gcl-Light-royal-blue-background) 10%, 
            var(--gcl-Light-slate-blue-background) 120%
        );
}

/*********** query section ***********/
@media (width < 800px) {
    .skill {
        gap: 1rem;
    }
}

@media (width < 741px) {
    main {
        width: 100svw;
        height: 100svh;
    }
    
    .container {
        flex-direction: column;
        margin: 0;
        box-shadow: none;
        width: 100%;
    }
    
    .summary-details, .result-details {
        max-width: 100%;
        border-radius: 0 0 1.6rem 1.6rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .attribution {
        display: none;
    }
}

/*********** additional section ***********/
.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }  
